# This is a basic workflow to help you get started with Actions

name: Getting Starded

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Step 1 - Log the pre-build disc space
        run: df
      
      - name: Step 2 - Checkout the main GitHub branch
        uses: actions/checkout@v3

      - name: Step 3 - Set up JDK 1.8
        uses: actions/setup-java@v3.9.0
        with: 
          java-version: 1.8
          
      - name: Step 4 - Check what is in this directory 
        run: ls -a
        
      - name: Step 5 - Check if java was installed successfully 
        run:  java -version
        
      - name: Step 6 - Check if git is installed 
        run: git --version
          
      - name: Step 7 - Log Build tool version
        run: |
          mvn --version
          ant -version
          gradle --version
      
      - name: Step 8 - Log the post-build disc space
        run: df
